PROJECT_NAME="test-forty-first"
PROJECT_SLUG=test-forty-first
GITHUB_REPOSITORY=test-forty-first
LINEAR_PROJECT_KEY=TEST_FORTY_FIRST
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
